@import '../assets/colors';
.bg_vector{
  position: relative;
  padding: 55px 0;
  height: 200px;
  .bg_vector_screen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/bg_vector.png);
    background-size: cover;
    opacity: 0.3;
  }
}
.recetas_section{
  position: relative;
  top: -55px;
  h2{
    margin: 0;
    margin-bottom: 30px;
  }
}
.mat-card-header .mat-card-title{
  font-size: 1.2em;
}
.ng-star-inserted{
  ul{
    margin-bottom: 0;
    li{
      list-style: none;
      font-size: 0.9em;
      text-transform: capitalize;
    }
  }
}
.receta{
  margin-bottom: 25px;
  .likes{
    color: $light_dark;
    padding: 15px 15px 0;
  }
  .diet{
    color: $green;
    padding: 0 15px;
  }
  .summary{
    font-size: 0.8em;
    line-height: 1.3em;
  }
  .see_button{
    background-color: $light_dark;
    color: whitesmoke;
    margin-right: 5px;
  }
  .ready{
  }
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  border: 1px solid #ececec;
}
.ingredientes{
  padding-left: 0;
}
h2{
  color: black;
  font-size: 28px;
  padding: 15px;
  border-radius: 5px;
  background-color: $light_dark;
  color: whitesmoke;
}
@media screen and (max-width: 425px){
  .ng-star-inserted{
    padding-left: 15px;
  }
}
