@import '../assets/colors.scss';

.search{
  margin: 35px 0;
}
.example-full-width{
  width: 500px;
}
.receta{
  margin-bottom: 25px;
  .likes{
    color: $light_dark;
    padding: 15px 15px 0;
  }
  .diet{
    color: $green;
    padding: 0 15px;
  }
  .summary{
    font-size: 0.8em;
    line-height: 1.3em;
  }
}
.mat-card-actions{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
@media screen and (max-width: 425px){
  .example-full-width{
    width: 100%;
  }

}
